<div class="jumbotron text-center", style="background-color: #ffffff">
  <div class='container'>
    <div class='row'>
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-12'>
        <h2 style="font-size: 80px">About</h2><br>
        <p style="font-size: 20px">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
        <p style="font-size: 20px">お⼦様からお年寄りの⽅までお召し上がりいただけるよう、</p>
        <p style="font-size: 20px">様々なバリエーションをご⽤意しております。</p>
        <p style="font-size: 20px">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。</p>
        <p style="font-size: 20px">ぜひご注⽂ください。</p>
      </div>
      
      <div class="about-image"></div>
      
    </div>
  </div>
</div>