// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron1 {
  background:url(cupcake-2588646_960_720.jpg) center no-repeat;
  background-size: cover;
}

.image-h {
  background:url(cake-balls-4139982_960_720.jpg) center no-repeat;
  background-size: cover;
  width: auto;
  height: 40px;
}