<footer>
  <div class="wrapper">
    <div class="text-center footer" style="background-color:#f5ecf4;">
      <small>
        © ロゴは <a href="https://www.designevo.com/jp/" title="無料オンラインロゴメーカー">DesignEvo</a> ロゴメーカーさんに作られる
    　</small>
    </div>
  </div>
</footer>